﻿@model CategoryDetailViewModel
@{
    ViewBag.Title = Model.Category.MetaTitle;
    ViewBag.Description = Model.Category.MetaDescription;
    ViewBag.Keywords = Model.Category.Keywords;
    ViewBag.Canonical = Url.Action("Detail", "Category", new { slug = Model.Category.Slug });
    ViewBag.Robots = "index,follow";
}

<div class="sp-page-title">
    <div class="container">
        <ol class="breadcrumb">
            <li class="here" data-s=">"><span>You are here:</span></li>
            <li data-s=">"><a href="@Url.Action("Index","Home")" class="pathway">Home</a></li>
            <li data-s=">"><a href="@Url.Action("Index","Category")" class="pathway">All Categories</a></li>
            <li data-s=">" class="active">@Model.Category.Title</li>
        </ol>
    </div>
</div>

<div id="sp-main-body">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id="articles" class="sppb-section sppb-list">
                    <div class="sppb-addon-features">
                        @foreach (var item in Model.Contents)
                        {
                            <div class="sppb-addon-feature icon-left">
                                <img src="@item.ImagePath" alt="@item.MetaTitle" title="@item.MetaTitle" class="img-responsive post-thumb">
                                <div class="sppb-addon-content">
                                    <a href="@Url.Action("Index","Content", new { slug = item.Slug })" title="@item.MetaTitle">
                                        <h3 class="sppb-addon-title">@item.Title</h3>
                                    </a>
                                    <div class="meta">
                                        <span class="author">by @item.User.Fullname</span>
                                        <span class="date">@item.PublishDate.ToString("dd MMMM yyyy")</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <nav class="text-center">
                    <ul class="pager">
                        @if (Model.TotalPageCount > 1 && Model.CurrentPage == 1)
                        {
                            <li class="wow zoomIn" data-wow-delay=".1s"><a href="@Url.Action("Detail","Category", new { slug = Model.Category.Slug, page = Model.CurrentPage+1 })">Next page &gt;&gt;</a></li>
                        }
                        else if (Model.TotalPageCount == Model.CurrentPage)
                        {
                            <li class="wow zoomIn"><a href="@Url.Action("Detail","Category", new { slug = Model.Category.Slug, page = Model.CurrentPage-1 })">&lt;&lt; Previus page</a></li>
                        }
                        else if (Model.CurrentPage > 1 && Model.CurrentPage <= Model.TotalPageCount)
                        {
                            <li class="wow zoomIn"><a href="@Url.Action("Detail","Category", new { slug = Model.Category.Slug, page = Model.CurrentPage-1 })">&lt;&lt; Previus page</a></li>
                            <li class="wow zoomIn"><a href="@Url.Action("Detail","Category", new { slug = Model.Category.Slug, page = Model.CurrentPage+1 })">Next page &gt;&gt;</a></li>
                        }
                    </ul>
                </nav>
                @*<nav class="text-center">
            <ul class="pager">
                <li class="wow zoomIn"><a href="#">&lt;&lt; Previus page</a></li>
                <li class="wow zoomIn" data-wow-delay=".1s"><a href="#">Next page &gt;&gt;</a></li>
            </ul>
            <ul class="pagination wow zoomIn" data-wow-delay=".2s">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">13</a></li>
            </ul>
        </nav>*@
            </div>
            @Html.Partial("_Sidebar")
        </div>
    </div>
</div>
