﻿@model CategoryViewModel
@{
    ViewBag.Title = "All Technology News World in all technology news - "+CacheHelper.Settings.Sitename;
    ViewBag.Description = "You can follow the latest and the latest technology news on "+CacheHelper.Settings.Sitename;
    ViewBag.Keywords = "tech,technology,news,new,all technology";
    ViewBag.Canonical = Url.Action("Index", "Category");
    ViewBag.Robots = "index,follow";
}

<div class="sp-page-title">
    <div class="container">
        <ol class="breadcrumb">
            <li class="here" data-s=">"><span>You are here:</span></li>
            <li data-s=">"><a href="@Url.Action("Index","Home")" class="pathway">Home</a></li>
            <li data-s=">" class="active">All Categories</li>
        </ol>
    </div>
</div>

<div id="sp-main-body">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="categories">
                    <div class="row">
                        @foreach (var item in Model.CategoryList)
                        {
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <a href="@Url.Action("Detail","Category", new { slug = item.Slug })" class="btn btn-primary btn-block mb30" title="@item.MetaTitle">@item.Title</a>
                            </div>
                        }
                    </div>
                </div>
                
            </div>
            @Html.Partial("_Sidebar")
        </div>
    </div>
</div>
