﻿@model ContentEditViewModel
@{
    Layout = "~/Views/Shared/_CmdLayout.cshtml";
}
<div class="container">
    <div class="page-header">
        <h3>
            @Model.Content.Title Güncelle
            <div class="pull-right">
                <a class="btn btn-default" pull-right href="@Url.Action("Content","Cmd", new { page = Model.Page })">Listeye Dön</a>
            </div>
        </h3>
    </div>
    @using (Html.BeginForm("ContentEdit", "Cmd", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                @Html.Raw(ViewBag.Message)
            </div>
        }
        if (ViewBag.Stop != null)
        {
            <div class="alert alert-error">
                @Html.Raw(ViewBag.Stop)
            </div>
        }
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label col-sm-2">Title:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Title" name="Title" value="@Model.Content.Title" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label col-sm-2">MetaTitle:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="MetaTitle" name="MetaTitle" value="@Model.Content.MetaTitle" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label col-sm-2">Description:</label>
                    <div class="col-sm-10">
                        <textarea style="height:100px" class="form-control" id="tbAbout" name="Description">@Model.Content.Description</textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label col-sm-2">MetaDescription:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="MetaDescription" name="MetaDescription" value="@Model.Content.MetaDescription" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label col-sm-2">Keywords:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Keywords" name="Keywords" value="@Model.Content.Keywords" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="Id" id="Id" value="@Model.Content.Id" />
                <input type="hidden" name="Page" id="Page" value="@Model.Page" />
                <button type="submit" class="btn btn-default">Kaydet</button>
            </div>
        </div>
    }
</div>