﻿@model ContentCmdListViewModel
@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_CmdLayout.cshtml";
}

<div class="container">
    <div class="page-header">
        <h3>
            Kayıtlar (@Model.Count / Sayfa: @Model.CurrentPage)
            <div class="pull-right">
                @using (Html.BeginForm("Content", "Cmd", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="username"
                               @if (ViewBag.Search != null) { <text> value='@ViewBag.Search' </text> } />
                    </div>
                    <button type="submit" class="btn btn-default">Ara</button>
                }
            </div>
            <div class="pull-right" style="margin-right:10px;">
                <a class="btn btn-default" pull-right href="@Url.Action("ContentAdd","Cmd")">Yeni Ekle</a>
            </div>
        </h3>
    </div>
    @if (ViewBag.Search == null)
    {
        <div>
            <a class="btn pull-left" href="@Url.Action("Content","Cmd", new { page = Model.CurrentPage - 1 })">Prev</a>
            <a class="btn pull-right" href="@Url.Action("Content","Cmd", new { page = Model.CurrentPage + 1 })">Next</a>
        </div>
    }
    <br />
    <table class="table table-stripped">
        <tr>
            <th>.</th>
            <th>Başlık</th>
            <th>Slug</th>
            <th style="width:20px;">düzenle</th>
            <th style="width:20px;">sil</th>
        </tr>
        @{
            int counter = (Model.CurrentPage - 1) * 20;
        }
        @foreach (var c in Model.Contents)
        {
            counter += 1;

            <tr>
                <td>@counter</td>
                <td><a href="@Url.Action("Index","Content", new { slug = c.Slug })" target="_blank">@c.Title</a></td>
                <td>@c.Slug</td>
                <td>
                    <a href="@Url.Action("ContentDelete", new { id = c.Id, page = Model.CurrentPage })" onclick="return confirm('Emin misin?')">
                        sil
                    </a>
                </td>
                <td><a target="_blank" href="@Url.Action("ContentEdit", new { id = c.Id, page = Model.CurrentPage })">düzenle</a></td>
            </tr>
        }
    </table>
    <br />
    @if (ViewBag.Search == null)
    {
        <div>
            <a class="btn pull-left" href="@Url.Action("Content","Cmd", new { page = Model.CurrentPage - 1 })">Prev</a>
            <a class="btn pull-right" href="@Url.Action("Content","Cmd", new { page = Model.CurrentPage + 1 })">Next</a>
        </div>
    }
</div>

