﻿@model BlogAdsense.Model.Setting
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_CmdLayout.cshtml";
}

    <div class="container">
        <div class="page-header">
            <h3>
                @Model.Sitename Güncelle
                <div class="pull-right">
                    <a class="btn btn-default" pull-right href="@Url.Action("Content","Cmd")">Listeye Dön</a>
                </div>
            </h3>
        </div>
        @using (Html.BeginForm("Settings", "Cmd", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    @Html.Raw(ViewBag.Message)
                </div>
            }
            if (ViewBag.Stop != null)
            {
                <div class="alert alert-error">
                    @Html.Raw(ViewBag.Stop)
                </div>
            }
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Ads300:</label>
                        <div class="col-sm-10">
                            <textarea style="height:100px" class="form-control" id="Ads300" name="Ads300">@Model.Ads300</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Ads600:</label>
                        <div class="col-sm-10">
                            <textarea style="height:100px" class="form-control" id="Ads600" name="Ads600">@Model.Ads600</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Analytics:</label>
                        <div class="col-sm-10">
                            <textarea style="height:100px" class="form-control" id="Analytics" name="Analytics">@Model.Analytics</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2">AdsenseVerfied:</label>
                        <div class="col-sm-10">
                            <textarea style="height:100px" class="form-control" id="AdsenseVerifiedCode" name="AdsenseVerifiedCode">@Model.AdsenseVerifiedCode</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Siteadı:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Sitename" name="Sitename" value="@Model.Sitename" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2">SiteAdresi:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="SiteAdress" name="SiteAdress" value="@Model.SiteAdress" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2">LogoPath:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="LogoPath" name="LogoPath" value="@Model.LogoPath" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Facebook:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Facebook" name="Facebook" value="@Model.Facebook" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Twitter:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Twitter" name="Twitter" value="@Model.Twitter" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Youtube:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Youtube" name="Youtube" value="@Model.Youtube" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Instagram:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Instagram" name="Instagram" value="@Model.Instagram" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @Html.CheckBoxFor(model => model.IsSslDomian, new { style = "display:initial !important;" })
                    @Html.Label("Ssl Varmı?")
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                    <input type="hidden" name="SiteId" id="SiteId" value="@Model.SiteId" />
                    <button type="submit" class="btn btn-default">Kaydet</button>
                </div>
            </div>
        }
    </div>