﻿@model HomeViewModel
@{
    ViewBag.Title = CacheHelper.Settings.Sitename + " Technology News - Home Page";
    ViewBag.Description = CacheHelper.Settings.Sitename + " Technology News All Newest Tech Info";
    ViewBag.Robot = "index,follow";
    ViewBag.Keywords = "tech,technology,news,info,new technology";
    ViewBag.Canonical = Url.Action("Index", "Home");
}

<div id="hightlight" class="sppb-section hightlight">
    <div class="row no-gutter">
        @foreach (var item in Model.Banner.Take(1))
        {
            <div class="col-md-6">
                <div class="sppb-addon-feature overlay">
                    <img src="@item.ImagePath" alt="@item.MetaTitle" title="@item.MetaTitle" class="img-responsive post-thumb">
                    <div class="sppb-addon-content">
                        <span class="tags bg-nt">@item.Category.Title</span>
                        <a href="@Url.Action("Index","Content", new { slug = item.Slug })" title="@item.MetaTitle"><h2 class="sppb-addon-title h1">@item.Title</h2></a>
                        <div class="meta">
                            <span class="author">by @item.User.Fullname</span>
                            <span class="date">@item.PublishDate.ToString("dd MMMM yyyy")</span>
                        </div>
                    </div>
                </div>
            </div>
        }
        @foreach (var item in Model.Banner.Skip(1))
        {
            <div class="col-md-3">
                <div class="sppb-addon-feature overlay">
                    <img src="@item.ImagePath" alt="@item.MetaTitle" title="@item.MetaTitle" class="img-responsive post-thumb">
                    <div class="sppb-addon-content">
                        <span class="tags bg-nt">@item.Category.Title</span>
                        <a href="@Url.Action("Index","Content", new { slug = item.Slug })" title="@item.MetaTitle"><h2 class="sppb-addon-title h1">@item.Title</h2></a>
                        <div class="meta">
                            <span class="author">by @item.User.Fullname</span>
                            <span class="date">@item.PublishDate.ToString("dd MMMM yyyy")</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div id="latest" class="sppb-section">
    <div class="container">
        <div class="sppb-section-title">
            <h4><strong>Trending</strong> Now</h4>
        </div>
        <div class="row">
            @foreach (var item in Model.TrendContents)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="sppb-addon-feature mb30-sm">
                        <img src="@item.ImagePath" alt="@item.MetaTitle" title="@item.MetaTitle" class="img-responsive post-thumb">
                        <div class="sppb-addon-content">
                            <a href="@Url.Action("Index","Content", new { slug = item.Slug })" title="@item.MetaTitle"><h4 class="sppb-addon-title">@item.Title</h4></a>
                            <div class="meta">
                                <span class="author">by @item.User.Fullname</span>
                                <span class="date">@item.PublishDate.ToString("dd MMMM yyyy")</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div id="sp-main-body">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id="articles" class="sppb-section sppb-list">
                    <div class="sppb-section-title wow fadeInUp">
                        <h4>Latest <strong>Articles</strong></h4>
                        <p class="sppb-title-subheading"><a href="@Url.Action("Index","Category")">View all Categories</a></p>
                    </div>
                    <div class="sppb-addon-features">
                        @foreach (var item in Model.LastContents)
                        {
                            <div class="sppb-addon-feature icon-left wow fadeInUp">
                                <img src="@item.ImagePath" alt="@item.MetaTitle" title="@item.MetaTitle" class="img-responsive post-thumb">
                                <div class="sppb-addon-content">
                                    <a href="@Url.Action("Index","Content", new { slug = item.Slug })" title="@item.MetaTitle"><h3 class="sppb-addon-title">@item.Title</h3></a>
                                    <div class="meta">
                                        <span class="author">by @item.User.Fullname</span>
                                        <span class="date">@item.PublishDate.ToString("dd MMMM yyyy")</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @Html.Partial("_Sidebar")
        </div>
    </div>
</div>

