/* Background: #796eff;*/
.bg-nt,
.footer .sppb-optin-form button,
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>a:active,
.pagination>li.active>a,
.pagination>li>span:hover,
.pagination>li>span:focus,
.pagination>li>span:active,
.pagination>li.active>span,
body:not(.home) #sp-header:not(.menu-fixed),
[class*="bg-"]:hover,
[class*="bg-"]:focus,
[class*="bg-"]:active,
.bg-nt.btn-primary { background: #796eff; }

/* Border color: #796eff;*/
.bg-nt.btn-primary,
.btn-outline { border-color: #796eff; }

/* Color: #796eff;*/
a,
.sp-megamenu-parent li li.active>a,
#sp-header a.logo:hover,
#sp-header a.logo:focus,
#sp-header a.logo:active,
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item:hover > a, 
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item:focus > a, 
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item:active > a, 
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item.active > a,
.dropdown-lang .dropdown-menu li > a:hover,
.dropdown-lang .dropdown-menu li > a:focus,
.dropdown-lang .dropdown-menu li > a:active,
.sppb-addon-feature .sppb-addon-title:hover,
.sppb-addon-feature .sppb-addon-title:focus,
.sppb-addon-feature .sppb-addon-title:active,
.sppb-section-title .sppb-title-subheading a:hover,
.sppb-section-title .sppb-title-subheading a:focus,
.sppb-section-title .sppb-title-subheading a:active,
.sppb-section-title .sppb-title-subheading:before,
.sppb-addon-feature .sppb-modal-selector:hover,
.sppb-addon-feature .sppb-modal-selector:focus,
.sppb-addon-feature .sppb-modal-selector:active,
.mostread .sppb-addon-feature .sppb-addon-content:before,
.footer .sppb-optin-form button:hover,
.footer .sppb-optin-form button:focus,
.footer .sppb-optin-form button:active,
.footer a:hover,
.footer a:focus,
.footer a:active,
.pager li:first-child>span,
.pager li:last-child>a:hover,
.pager li:last-child>a:focus,
.pager li:last-child>a:active, 
.pager li:last-child>span:hover,
.pager li:last-child>span:focus,
.pager li:last-child>span:active,
.sppb-social > * > .zmdi,
.sppb-addon-social.sm a:hover,
.sppb-addon-social.sm a:focus,
.sppb-addon-social.sm a:active,
.sppb-form h3 strong,
.bg-nt.btn-primary:hover,
.bg-nt.btn-primary:focus,
.bg-nt.btn-primary:active { color: #796eff; }