﻿@model ContentViewModel
@{
    ViewBag.Title = Model.Content.MetaTitle;
    ViewBag.Description = Model.Content.MetaDescription;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Canonical = Url.Action("Index","Content", new { slug = Model.Content.Slug });
    ViewBag.Robots = "index,follow";
    ViewBag.SiteUrl = CacheHelper.Settings.SiteAdress;
    ViewBag.AmpCanonical = Url.Action("Amp", "Content", new { slug = Model.Content.Slug });
}

<div class="sp-page-title">
    <div class="container">
        <ol class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <li class="here" data-s=">"><span>You are here:</span></li>
            <li data-s=">"><a itemprop="url" href="@Url.Action("Index","Home")" class="pathway">Home</a></li>
            <li data-s=">"><a itemprop="url" href="@Url.Action("Detail","Category", new { slug = Model.Content.Category.Slug })" class="pathway">@Model.Content.Category.Title</a></li>
            <li data-s=">" itemprop="title" class="active">@Model.Content.Title</li>
        </ol>
    </div>
</div>

<div id="sp-main-body">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <article class="sppb-addon-feature icon-mid" role="main" itemscope itemtype="http://schema.org/NewsArticle" data-type="news" data-url="@ViewBag.Canonical" data-title="@Model.Content.Title" data-description="@Model.Content.MetaDescription" data-keywords="@Model.Content.Keywords" data-share="0" data-amp="@ViewBag.AmpCanonical">
                    <meta itemprop="mainEntityOfPage" content="@ViewBag.Canonical" />
                    <meta itemprop="dateModified" content="@Model.Content.UpdateDate.ToString("yyyy-MM-ddTHH:mm:ss")" />
                    <meta itemprop="inLanguage" content="tr-TR" />
                    <meta itemprop="genre" content="news" name="medium" />
                    <h1 class="sppb-addon-title h1" itemprop="headline">@Model.Content.Title</h1>
                    <div class="meta">
                        <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">by <span itemprop="name">@Model.Content.User.Fullname</span></span>
                        <time class="date" itemprop="datePublished" datetime="@Model.Content.CreateDate.ToString("yyyy-MM-ddTHH:mm:ss+0fff")">@Model.Content.CreateDate.ToString("dd MMMM yyyy")</time>
                        <span class="cate">in <a href="@Url.Action("Detail","Category", new { slug = Model.Content.Category.Slug })">@Model.Content.Category.Title</a></span>
                    </div>
                    <div class="sppb-image">
                        <figure itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                            <img src="@Model.Content.ImagePath" alt="@Model.Content.MetaTitle" title="@Model.Content.MetaTitle" class="img-responsive post-thumb img-fitw" />
                            <meta itemprop="url" content="@ViewBag.SiteUrl@Model.Content.ImagePath" />
                            <meta itemprop="width" content="740" />
                            <meta itemprop="height" content="350" />
                        </figure>
                    </div>
                    <div class="sppb-addon-content">
                        <div class="sppb-addon-text" itemprop="description">
                            @Html.Raw(Model.Content.Description)
                        </div>
                    </div>
                    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                            <meta itemprop="url" content="@Html.Raw(CacheHelper.Settings.SiteAdress+"/_assets/img/icon-logo.jpg")" />
                            <meta itemprop="width" content="256" />
                            <meta itemprop="height" content="256" />
                        </div>
                        <meta itemprop="name" content="@CacheHelper.Settings.Sitename" />
                        <meta itemprop="url" content="@Html.Raw(CacheHelper.Settings.SiteAdress+"/_assets/img/icon-logo.jpg")" />
                        <meta itemprop="width" content="256" />
                        <meta itemprop="height" content="256" />
                    </div>
                    <meta itemprop="name" content="youvolume" />
                    <meta itemprop="sameAs" content="http://www.facebook.com" />
                </article>

                <div id="related" class="sppb-section">
                    <div class="sppb-section-title">
                        <h4>You May Also <strong>Like</strong></h4>
                    </div>
                    <div class="row">
                        @foreach (var item in Model.RelatedContent)
                        {
                            <div class="col-md-4 col-sm-4">
                                <div class="sppb-addon-feature mb30-xs wow fadeInRight">
                                    <img src="@item.ImagePath" alt="@item.MetaTitle" title="@item.MetaTitle" class="img-responsive post-thumb img-fitw">
                                    <div class="sppb-addon-content">
                                        <a href="@Url.Action("Index","Content", new { slug = item.Slug })"><h4 class="sppb-addon-title">@item.Title</h4></a>
                                        <div class="meta">
                                            <span class="author">by Alan Pandew</span>
                                            <span class="date">@item.CreateDate.ToString("dd MMMM yyyy")</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @Html.Partial("_Sidebar")
        </div>
    </div>
</div>