﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="https://raw.githubusercontent.com/saihoai/nettoday/master/logo-p-50x.png" rel="apple-touch-icon">
    <link href="https://raw.githubusercontent.com/saihoai/nettoday/master/logo-p-50x.png" rel="icon">
    <meta name="author" content="@CacheHelper.Settings.Sitename">
    @if (!string.IsNullOrEmpty(ViewBag.Keywords))
    {
        <meta name="keywords" content="@ViewBag.Keywords">
    }
    @if (!string.IsNullOrEmpty(ViewBag.Description))
    {
        <meta name="description" content="@ViewBag.Description">
    }
    @if (!string.IsNullOrEmpty(ViewBag.Title))
    {
        <title>@ViewBag.Title</title>
    }
    @if (!string.IsNullOrEmpty(ViewBag.Canonical))
    {
        <link rel="canonical" href="@ViewBag.Canonical" />
    }
    @if (!string.IsNullOrEmpty(ViewBag.AmpCanonical))
    {
        <link rel="amphtml" href="@ViewBag.AmpCanonical" />
    }
    @if (!string.IsNullOrEmpty(ViewBag.Robots))
    {
        <meta name="robots" content="@ViewBag.Robots" />
    }
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700%7CQuicksand:400,700%7CRoboto+Condensed:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/color.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">
    @if (!string.IsNullOrEmpty(CacheHelper.Settings.AdsenseVerifiedCode))
    {
        @Html.Raw(CacheHelper.Settings.AdsenseVerifiedCode)
    }
</head>
<body class="sticky-header home off-canvas-menu-init">

    <div class="body-wrapper">
        <div class="body-innerwrapper">

            <!-- #sp-header -->
            <header id="sp-header">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-2">
                        <a href="@Url.Action("Index","Home")" class="logo">
                            <img src="@CacheHelper.Settings.LogoPath" alt="@CacheHelper.Settings.Sitename Technology News - Home Page" class="fa-spin">
                            <span>@CacheHelper.Settings.Sitename</span>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-7">
                        <div class="sp-megamenu-wrapper">
                            <a id="offcanvas-toggler" class="visible-sm visible-xs" aria-label="Menu" href="#"><i class="zmdi zmdi-menu" aria-hidden="true" title="Menu"></i></a>
                            <ul class="sp-megamenu-parent menu-fade-up hidden-sm hidden-xs">
                                <li class="sp-menu-item"><a href="@Url.Action("Index","Home")">Home Page</a></li>
                                <li class="sp-menu-item sp-has-child current-item">
                                    <a href="@Url.Action("Index","Category")">Categories</a>
                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right">
                                        <div class="sp-dropdown-inner">
                                            <ul class="sp-dropdown-items">
                                                @foreach (var item in CacheHelper.Categories)
                                                {
                                                    <li class="sp-menu-item"><a href="@Url.Action("Detail","Category", new { slug = item.Slug })">@item.Title</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="sp-menu-item"><a href="@Url.Action("Index","Home")">About Us</a></li>
                                <li class="sp-menu-item"><a href="@Url.Action("Index","Home")">Contact</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3 hidden-sm hidden-xs">
                        <div class="sp-column sp-search">
                            <div class="dropdown dropdown-lang">
                                <a href="javascript:void(0);" data-toggle="dropdown">
                                    Follow Us<span class="zmdi zmdi-chevron-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="@CacheHelper.Settings.Facebook">
                                            <i class="zmdi zmdi-facebook mr-5"></i> Facebook
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@CacheHelper.Settings.Twitter">
                                            <i class="zmdi zmdi-twitter mr-5"></i> Twitter
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@CacheHelper.Settings.Youtube">
                                            <i class="zmdi zmdi-youtube mr-5"></i> Youtube
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@CacheHelper.Settings.Instagram">
                                            <i class="zmdi zmdi-instagram mr-5"></i> Instagram
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@CacheHelper.Settings.Pinterest">
                                            <i class="zmdi zmdi-pinterest mr-5"></i> Pinterest
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown open dropdown-search">
                                <a href="javascript:void(0)" data-toggle="dropdown"><i class="zmdi zmdi-search"></i></a>
                                <form action="#" method="post" class="dropdown-menu dropdown-menu-right">
                                    <input type="text" name="searchword" placeholder="Search...">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            @RenderBody()

            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 wow zoomIn">
                            <h4 class="title">Popular Categories</h4>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <ul class="sppb-menu">
                                        @foreach (var item in CacheHelper.Categories.Take(5))
                                        {
                                            <li><a href="@Url.Action("Detail","Category", new { slug = item.Slug})">@item.Title</a></li>
                                        }
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <ul class="sppb-menu">
                                        @foreach (var item in CacheHelper.Categories.Skip(5).Take(5))
                                        {
                                            <li><a href="@Url.Action("Detail","Category", new { slug = item.Slug})">@item.Title</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb30-sm wow zoomIn" data-wow-delay=".1s">

                            <div class="border text-center">
                                <a href="/" class="logo">
                                    <img src="@CacheHelper.Settings.LogoPath" alt="@CacheHelper.Settings.Sitename Technology News - Home Page" class="fa-spin">
                                    <span>@CacheHelper.Settings.Sitename</span>
                                    <img src="@CacheHelper.Settings.LogoPath" alt="youvolume Technology News - Home Page" class="fa-spin">
                                </a><!-- /.logo -->
                                <div class="sppb-addon-tags">
                                    <a href="/">About Us</a>
                                    <a href="/">Contact Us</a>
                                    <a href="/">Privacy Policy</a>
                                    <a href="/">Ad Choice</a>
                                    <a href="/">Terms of Use</a>
                                    <a href="/">Help Center</a>
                                </div><!-- /.sppb-addon-tags -->
                                <div class="sppb-addon-social">
                                    <a href="@CacheHelper.Settings.Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="@CacheHelper.Settings.Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="@CacheHelper.Settings.Instagram"><i class="zmdi zmdi-instagram"></i></a>
                                    <a href="@CacheHelper.Settings.Pinterest"><i class="zmdi zmdi-pinterest"></i></a>
                                    <a href="@CacheHelper.Settings.Youtube"><i class="zmdi zmdi-youtube"></i></a>
                                </div><!-- /.sppb-addon-tags -->
                                <div class="copyright">&copy; Copyright @DateTime.Now.Year - @CacheHelper.Settings.Sitename</div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center wow zoomIn" data-wow-delay=".2s">
                            <h4 class="title">Newsletter</h4>
                            <p class="subtitle">Subscribe my Newsletter for new blog posts,<br>tips. Let's stay updated!</p>
                            <form class="sppb-optin-form">
                                <div class="sppb-form-group email-wrap"><input type="email" name="email" class="form-control" placeholder="Email" required="required"></div>
                                <div class="button-wrap"><button type="submit" class="btn btn-primary btn-block"><i class="fa"></i> Subscribe</button></div>
                            </form><!-- /.sppb-optin-form -->
                        </div>
                    </div>
                </div>
            </div><!-- /.footer -->
        </div><!-- /.body-innerwrapper -->
    </div><!-- /.body-wrapper -->
    <div class="offcanvas-menu">
        <a href="#" class="close-offcanvas"><i class="zmdi zmdi-close-circle-o"></i></a>
        <div class="offcanvas-inner">
            <div class="sppb-addon">
                <ul class="sppb-menu">
                    @foreach (var item in CacheHelper.Categories.Take(10))
                    {
                        <li><a href="@Url.Action("Detail","Category", new { slug = item.Slug })">@item.Title</a></li>
                    }
                </ul>
            </div>
            <div class="sppb-addon-social">
                <a href="@CacheHelper.Settings.Facebook"><i class="zmdi zmdi-facebook"></i></a>
                <a href="@CacheHelper.Settings.Twitter"><i class="zmdi zmdi-twitter"></i></a>
                <a href="@CacheHelper.Settings.Instagram"><i class="zmdi zmdi-instagram"></i></a>
                <a href="@CacheHelper.Settings.Pinterest"><i class="zmdi zmdi-pinterest"></i></a>
                <a href="@CacheHelper.Settings.Youtube"><i class="zmdi zmdi-youtube"></i></a>
            </div>
            <div class="copyright">&copy; Copyright @DateTime.Now.Year - @CacheHelper.Settings.Sitename</div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="~/assets/js/custom.js"></script>

    @if (!Request.IsLocal)
    {
        @Html.Raw(string.IsNullOrEmpty(CacheHelper.Settings.Analytics) ? "" : CacheHelper.Settings.Analytics)
    }
</body>
</html>