﻿@{
    Layout = null;
}
<div class="col-md-3 sidebar hidden-sm">
    <div id="mostread" class="sppb-section mostread">
        <div class="sppb-section-title">
            <h4><strong>Most</strong> Read</h4>
        </div>
        <div class="sppb-addon-features wow fadeInUp">
            @foreach (var item in CacheHelper.EditorPick.Take(1))
            {
                <div class="sppb-addon-feature">
                    <img src="@item.ImagePath" alt="@item.MetaTitle" title="@item.MetaTitle" class="img-responsive post-thumb img-fitw-xs">
                    <div class="sppb-addon-content">
                        <a href="@Url.Action("Index","Content", new { slug = item.Slug })"><h4 class="sppb-addon-title">@item.Title</h4></a>
                        <div class="meta">
                            <span class="author">by @item.User.Fullname</span>
                            <span class="date">@item.PublishDate.ToString("dd MMMM yyyy")</span>
                        </div>
                    </div>
                </div>
            }
            @foreach (var item in CacheHelper.EditorPick.Skip(1).Take(4))
            {
                <div class="sppb-addon-feature wow fadeInUp" data-wow-delay=".1s">
                    <img src="@item.ImagePath" alt="@item.MetaTitle" title="@item.MetaTitle" class="img-responsive post-thumb img-fitw-xs">
                    <div class="sppb-addon-content">
                        <a href="@Url.Action("Index","Content", new { slug = item.Slug })"><h4 class="sppb-addon-title">@item.Title</h4></a>
                        <div class="meta">
                            <span class="author">by @item.User.Fullname</span>
                            <span class="date">@item.PublishDate.ToString("dd MMMM yyyy")</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="counter" class="sppb-section text-center">
        <div class="row gutter10">
            <div class="col-md-6 col-xs-6">
                <div class="sppb-addon-counter mb20 wow fadeInUp">
                    <i class="zmdi zmdi-facebook"></i>
                    <div class="sppb-animated-number" data-tpl="comma" data-digit="56215" data-duration="5000">0</div>
                    <div class="text">Fans</div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="sppb-addon-counter mb20 wow fadeInUp" data-wow-delay=".1s">
                    <i class="zmdi zmdi-rss"></i>
                    <div class="sppb-animated-number" data-tpl="comma" data-digit="359" data-duration="5000">0</div>
                    <div class="text">Subscribers</div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="sppb-addon-counter wow fadeInUp" data-wow-delay=".2s">
                    <i class="zmdi zmdi-youtube-play"></i>
                    <div class="sppb-animated-number" data-tpl="comma" data-digit="6978" data-duration="5000">0</div>
                    <div class="text">Subscribers</div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="sppb-addon-counter wow fadeInUp" data-wow-delay=".3s">
                    <i class="zmdi zmdi-twitter"></i>
                    <div class="sppb-animated-number" data-tpl="comma" data-digit="2827" data-duration="5000">0</div>
                    <div class="text">Followers</div>
                </div>
            </div>
        </div>
    </div>

    @*<div id="ads4" class="sppb-section mt40 wow fadeInUp">
        <a href="#"><img src="https://via.placeholder.com/270x350.jpg" alt="" class="img-responsive img-fitw-xs"></a>
    </div>*@

</div>
